{% extends 'base.html' %}

{% block content %}
<h1>Register here</h1>

<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset>
            {{ form.name.label }}
            {{ form.name(class='form-control', placeholder= 'name') }}
        </fieldset>
        <fieldset>
            {{ form.number.label }}
            {{ form.number(class='form-control', placeholder= 'number') }}
        </fieldset>
        {{form.submit(class='btn btn-success') }} 
    </div>
</form>
{% for i in info %}
<div><table><tr><td>{{i.name}}</td><td>{{i.number}}</td></tr></table></div>
{% endfor %}
{% endblock content %}